.product-main{
    width: 25%;
    border: 1px solid #eae3e3a1;
    padding: 0.5rem;
    background-color: #2196f317;
    margin: 0.5rem;
    h3{
        text-align: center;
    }
    img{
        width: 100%;
        height: 130px;    
    }
    p{
        font-size: 12px;
    }
    button{
        margin-left: 38px;
    }
}