.edit-product-main {
    .edit-product-main__div{
        padding: 0.5rem;
        width: 50%;
        background-color: #6495ed12;
        border: 1px solid #dedece3b;
        margin-bottom: 0.5rem;
        display: flex;
        label{
            width: 30%;
        }
    }
}
